
<%= image_tag "logo.png" , width: '300', height: '100'%>
<%= form_for(@user) do |f| %>

<div class="parent0">
  <div class="field" style="background-color: white;width: 700px; margin: 100px auto;padding:37px 0px;margin-bottom:0px">
    <div style="text-align:center">
      <%= image_tag 'logo.png', style: 'width:50%'%>
      <h1 style='margin: auto 40px;font-size:25px'>Sample Form for Fan Cutout</h1>
      <p style="font-size: 1.5em;padding: 0px 20px;">Hi there, please fill out and submit this form to have your stadium fan cutout made.</p>
    </div>
  </div>
  <div style="top: -5px;height: 44px;background: red;margin: 0px auto;width: 700px;">
    <div style="text-align:right;display:flex;align-items:center;justify-content:center;height:100%;flex-direction:row-reverse">
      <span class="start" onclick="start(this);">Start</span>
    </div>
  </div>
</div>

<div class="parent hidden">
  <div class="field" style="background-color: white;width: 700px; margin: 100px auto;padding:37px 0px;margin-bottom:0px">
    <%= f.label 'â­•ï¸ðŸ™Œ, Hi there! Whats your name?*', style: 'margin: auto 40px;font-size:25px' %><br />
    <label style="margin: 0px 40px;color: #8c8787;font-size: 16px;margin-bottom: 10px;">First Name:</label>
    <div style="text-align: center">
      <%= f.text_field :name, style: 'width: 90%;height: 30px;font-size: 20px;padding:4px' %>
    </div>
  </div>
  <div style="top: -5px;height: 44px;background: red;margin: 0px auto;width: 700px;">
    <div style="text-align:right;display:flex;align-items:center;justify-content:space-between;height:100%;flex-direction:row-reverse">
      <span class="next" onclick="showNext1(this);">Next</span>
    </div>
  </div>
</div>

<div class="parent2 hidden">
  <div class="field" style="background-color: white;width: 700px; margin: 100px auto;padding:37px 0px;margin-bottom:0px">
    <label style="margin: auto 40px;font-size:20px;font-size: 22px;line-height: 30px;">To upload your beautiful face,<span id="name1"></span>, we're going to need access to your camera. Select select 'allow' on the next screen to use your camera.</span>
    <div class="p-radio">
      <div style="border: solid 1px black;margin-top: 10px;padding-bottom: 12px;cursor:pointer;border-radius:4px" class="rad-div" onclick="add_active_class(this)">
        <input type="radio" class="radio" style="height: 20px;width: 20px;margin-top:10px"> Yes, Will do.
      </div>
    </div>
  </div>
  <div style="top: -5px;height: 44px;background: red;margin: 0px auto;width: 700px;">
    <div style="display:flex;align-items:center;height:100%;flex-direction:row-reverse;justify-content:space-between;">
      <span class="next" onclick="showNext2(this);">Next</span>
      <span class="prev" onclick="showNext2(this);">Previous</span>
    </div>
  </div>
</div>

<div class="parent3 hidden">
  <div class="field"  style="background-color: white;width: 700px; margin: 30px auto;padding:37px 0px;margin-bottom:-25px">
    <label style='font-size:20px;margin: 0px 40px;line-height:30px'>Alright, <span id="name2"></span>. Time for your close up. If you have team gear, put it on first to show your spirit!"</label><br />
    <div style="text-align: center">
      <%= f.hidden_field :avatar %>
      <div id="my_camera" style="width: 100% !important;height: 500px; !important"></div>
      <%# <img src="/public/profile.png"> %>
      <%= image_tag "profile.png", style: 'position: absolute;left: 30%;top: 282px;width: 662px;height: 488px;' %>
      <input type=button value="Take Snapshot" onClick="take_snapshot()" style="padding: 10px 100px;font-size: 17px;margin-top: 10px;color: white;background-color: rgb(49,107,183);border:none;">
    </div>
  </div>
  <div style="top: -5px;height: 44px;background: red;margin: 0px auto;width: 700px;">
    <div style="display:flex;align-items:center;height:100%;flex-direction:row-reverse;justify-content:space-between;">
      <span class="next" onclick="showNext3(this);">Next</span>
      <span class="prev" onclick="showNext2(this);">Previous</span>
    </div>
  </div>
</div>

<div class="parent4 hidden">
  <div class="field" style="background-color: white;width: 700px; margin: 200px auto;padding:37px 0px;margin-bottom:0px">
    <%= f.label 'Lets get your photo connected', style: 'margin: auto 40px;font-size:25px'  %><br />
    <div style="display:flex;margin: 10px 24px;">
      <%= f.text_field :first_name, style: 'width: 90%;height: 30px;font-size: 20px;padding:4px', placeholder: 'FirstName' %>
      <%= f.text_field :last_name, style: 'width: 90%;height: 30px;font-size: 20px;padding:4px;margin-left:10px' , placeholder: 'LastName' %>
    </div>

    <div style="display:flex;margin: 10px 24px;">
      <%= f.text_field :email, style: 'width: 100%;height: 30px;font-size: 20px;padding:4px', placeholder: 'Enter your Email' %>
    </div>

    <div style="display:flex;margin: 10px 24px;">
      <%= f.select :holder,options_for_select([['Yes',1],['No',2],['But I would like to be.',3]]),{include_blank: 'Are you currently a seaon ticket holder?'}, { style: 'width: 100%;height: 43px;font-size: 20px;padding:4px', placeholder: 'Enter your Email' }%>
    </div>
  </div>
  <div style="top: -5px;height: 44px;background: red;margin: 0px auto;width: 700px;">
    <div style="text-align:right;display:flex;align-items:center;justify-content:space-between;height:100%;flex-direction:row-reverse">
      <span class="next" onclick="showNext4(this);">Next</span>
      <span class="prev" onclick="showNext2(this);">Previous</span>
    </div>
  </div>
</div>

<div class="parent5 hidden">
  <div class="field" style="background-color: white;width: 855px; margin: 200px auto;padding:37px 0px;margin-bottom:0px">
    <%= f.label 'Where is your current seat so we can put your cut out there?', style: 'margin: auto 40px;font-size:25px'  %><br />
    <div style="display:flex;margin: 10px 24px;">
      <%= f.text_field :section, style: 'width: 100%;height: 30px;font-size: 20px;padding:4px', placeholder: 'Section' %>
    </div>

    <div style="display:flex;margin: 10px 24px;">
      <%= f.text_field :row, style: 'width: 100%;height: 30px;font-size: 20px;padding:4px', placeholder: 'Row #' %>
      <%= f.text_field :seat, style: 'width: 100%;height: 30px;font-size: 20px;padding:4px;margin-left:10px', placeholder: 'Seat #' %>
    </div>
  </div>
  <div style="top: -5px;height: 44px;background: red;margin: 0px auto;width: 855px;">
    <div style="text-align:right;display:flex;align-items:center;justify-content:space-between;height:100%;flex-direction:row-reverse">
      <span class="next" onclick="showNext5(this);">Next</span>
      <span class="prev" onclick="showNext2(this);">Previous</span>
    </div>
  </div>
</div>

<div class="parent6 hidden">
  <div class="field" style="background-color: white;width: 855px; margin: 200px auto;padding:37px 0px;margin-bottom:0px">
    <%= f.label 'Do you want to sign up to join our Loyalty Program for special offers and early access to news as well?', style: 'margin: auto 40px;font-size:25px;line-height:30px'  %><br />
    <div style="display:flex;margin: 10px 24px;justify-content:center">
      <button onclick="return add_active(this)" style="cursor:pointer;padding: 10px 30px;background: white;border: solid 1px blue;border-radius: 5px;margin-right: 153px;">Yes, Treat Me Special</button>
      <button onclick="return add_active(this)" style="cursor:pointer;background: white;border: solid 1px blue;border-radius: 5px;padding: 0px 39px;">No Thanks</button>
    </div>
  </div>
  <div style="top: -5px;height: 44px;background: red;margin: 0px auto;width: 855px;">
    <div style="text-align:right;display:flex;align-items:center;justify-content:space-between;height:100%;flex-direction:row-reverse">
      <span class="next" onclick="showNext6(this);">Next</span>
      <span class="prev" onclick="showNext2(this);">Previous</span>
    </div>
  </div>
</div>

<div class="parent7 hidden">
  <div class="field" style="background-color: white;width: 855px; margin: 200px auto;padding:37px 0px;margin-bottom:0px">
    <label style='margin: auto 40px;font-size:25px;line-height:30px'>Description or terms and conditions. Blah, Blah, Blah...'</label><br />
  </div>
  <div style="top: -5px;height: 44px;background: red;margin: 0px auto;width: 855px;">
    <div style="text-align:right;display:flex;align-items:center;justify-content:space-between;height:100%;flex-direction:row-reverse">
      <span class="next" onclick="showNext7(this);">Next</span>
    </div>
  </div>
</div>


<div class="parent8 hidden">
  <div class="field" style="background-color: white;width: 855px; margin: 200px auto;padding:37px 0px;margin-bottom:0px">
    <label style='margin: auto 40px;font-size:25px;line-height:30px'>Please choose your donation amount to get your order processed.</label><br />
    <span style="margin: auto 40px;">Your purchase directly supported The Ohio State University and its Students.</span>
    <div style="display:flex;justify-content:space-around;">
      <div class="box" onclick="make_box_dark(this)">
        <h1>10</h1>
      </div>
      <div class="box" onclick="make_box_dark(this)">
        <h1>25</h1>
      </div>
      <div class="box" onclick="make_box_dark(this)">
        <h1>50</h1>
      </div>
      <div class="box" onclick="make_box_dark(this)">
        <h1>100</h1>
      </div>
    </div>

    <div style="display:flex;margin: 10px 24px;">
      <%= f.text_field :amount, style: 'width: 100%;height: 30px;font-size: 20px;padding:4px', placeholder: 'OR enter custom amount' %>
    </div>
  </div>
  <div style="top: -5px;height: 44px;background: red;margin: 0px auto;width: 855px;">
    <div style="text-align:right;display:flex;align-items:center;justify-content:space-between;height:100%;flex-direction:row-reverse">
      <span class="next" onclick="submitForm(this);">Submit</span>
    </div>
  </div>
</div>
  <!-- Other fields and submit button -->
<% end %>


<script>
  function submitForm(event){
    n = $("#user_name").val();
    fn = $("#user_first_name").val();
    ln = $("#user_last_name").val();
    email = $("#user_email").val();
    holder = $("#user_holder").val();
    section = $("#user_section").val();
    row = $("#user_row").val();
    seat = $("#user_seat").val();
    special = $('.active-dark').html();
    donation = $('.box-dark').find('h1').html();
    amount = $("#user_amount").val();
    img = $("#my_camera>img").attr('src');
    debugger
    $.ajax({
      'type': 'post',
      'url': '/users',
      data: {name: n, avatar: img, first_name: fn, last_name: ln, email: email, holder: holder, section: section, row: row, seat: seat, special: special, donation: donation, amount: amount },
      success: function(data){
        $('.parent8').hide();
        $('.parent9').removeClass('hidden');
        // event.preventDefault();
        return false;
      },
      error: function(error){

      }
    })
  }

  function add_active(element){
    
    $('.active-dark').css('color','black');
    $('.active-dark').removeClass('active-dark');
    $(element).addClass('active-dark');
    $(element).css('color','white');
    event.preventDefault();
    return false;
  }
  function showNext1(element){
    if($("#user_name").val() != "" ){
      $(element).closest('.parent').hide();
      $('.parent2').removeClass('hidden');
      $("#name1").html($("#user_name").val());
    }else{
      $("#user_name").css('border', 'solid 1px red');
    }
  }

  function start(element){
    $(element).closest('.parent0').hide();
    $('.parent').removeClass('hidden');
  }

  function showNext3(element){
      $(element).closest('.parent3').hide();
      $('.parent4').removeClass('hidden');
  }

  function showNext4(element){
      $(element).closest('.parent4').hide();
      $('.parent5').removeClass('hidden');
  }

  function showNext5(element){
      $(element).closest('.parent5').hide();
      $('.parent6').removeClass('hidden');
  }

  function showNext6(element){
    $(element).closest('.parent6').hide();
    $('.parent7').removeClass('hidden');
  }

  function showNext7(element){
    $(element).closest('.parent7').hide();
    $('.parent8').removeClass('hidden');
  }

  function showNext8(element){
    $(element).closest('.parent8').hide();
    $('.parent9').removeClass('hidden');
  }

  function make_box_dark(element){
    $('.box-dark').removeClass('box-dark');
    $(element).addClass('box-dark');
  }
  function showNext2(element){
    if($('.radio').is(':checked')){
      $(element).closest('.parent2').hide();
      $("#name2").html($("#user_name").val());
    $('.parent3').removeClass('hidden');
      Webcam.set({
      width: 320,
      height: 240,
      image_format: 'jpeg',
      jpeg_quality: 90
    });
    Webcam.attach( '#my_camera' );
    }
    else{
      $('.radio').css('border','solid 1px red')
    }
    
  }

  function add_active_class(element){
    $(element).closest('.p-radio').addClass('active-radio');
  }
function take_snapshot(){
    Webcam.snap(function(data_uri) {
        id = $('[id*="_image"]');

        if (id.length) {
            id.val(data_uri);
        }

        document.getElementById('my_camera').innerHTML = '<img src="' + data_uri + '"/>';
    });
}

</script>