<%= form_for(@user) do |f| %>
<div class="parent">
  <div class="field" style="background-color: rgba(204,204,204,0.5);width: 40%; margin: 50vh 0px auto auto;padding:30px;margin-left:25%">
    <%= f.label 'â­•ï¸ðŸ™Œ, Hi there! Whats your name?*', style: 'margin: auto 40px;font-size:20px' %><br />
    <div style="text-align: center">
      <%= f.text_field :name, style: 'width: 90%;height: 30px;font-size: 20px;' %>
    </div>
  </div>
  <div style="top: -5px;height: 30px;background: red;margin-left: 25%;width: 43.7%;">
    <div style="text-align:right;display:flex;align-items:center;height:100%;flex-direction:row-reverse;;margin-right:20px">
      <span class="next" onclick="showNext1(this);">Next</span>
    </div>
  </div>
</div>

<div class="parent2 hidden">
  <div class="field" style="background-color: rgba(204,204,204,0.5);width: 40%; margin: 50vh 0px auto auto;padding:30px;margin-left:25%">
    <label style="margin: auto 40px;font-size:20px">To upload your beautiful face, sfd, we're going to need access to your camera. Select select 'allow' on the next screen to use your camera.</span>
    <div style="">
      <div>
        <input type="radio" class="radio" style="height: 20px;width: 20px;margin-top:10px"> Yes, Will do.
      </div>
    </div>
  </div>
  <div style="top: -5px;height: 30px;background: red;margin-left: 25%;width: 43.7%;">
    <div style="text-align:right;display:flex;align-items:center;height:100%;flex-direction:row-reverse;;margin-right:20px">
      <span  class="next" onclick="showNext2(this);">Next</span>
    </div>
  </div>
</div>

<div class="parent3 hidden">
  <div class="field" style="background-color: rgba(204,204,204,0.5);width: 40%; margin: 14vh 0px auto auto;padding:30px;margin-left:25%">
    <%= f.label "Alright, sfd. Time for your close up. If you have team gear, put it on first to show your spirit!", style: 'font-size:20px' %><br />
    <span>Click "Take Photo" below when you're ready.</span>
    <div style="text-align: center">
      <%= f.hidden_field :avatar %>
      <div id="my_camera" style="width: 100% !important;height: 500px; !important"></div>
      <%# <img src="/public/profile.png"> %>
      <%= image_tag "profile.png", style: 'position: absolute;left: 27.5%;top: 24vh;height: 55.7%;width: 650px;' %>
      <input type=button value="Take Snapshot" onClick="take_snapshot()">
    </div>
  </div>
  <div style="top: -5px;height: 30px;background: red;margin-left: 25%;width: 43.7%;">
    <div style="text-align:right;display:flex;align-items:center;height:100%;flex-direction:row-reverse;;margin-right:20px">
      <span  class="next" onclick="submitForm();">Submit</span>
    </div>
  </div>
</div>

<div class="parent4 hidden">
  <div class="field" style="background-color: rgba(204,204,204,0.5);width: 40%; margin: 50vh 0px auto auto;padding:30px;margin-left:25%">
    <%= f.label "Thanks your data has been submitted", style: 'margin: auto 40px;font-size:20px' %><br />
  </div>
  <div style="top: -5px;height: 30px;background: red;margin-left: 25%;width: 43.7%;">
    <div style="text-align:right;display:flex;align-items:center;height:100%;flex-direction:row-reverse;;margin-right:20px">
      <span  class="next" onclick="showNext2(this);">Next</span>
    </div>
  </div>
</div>
  <!-- Other fields and submit button -->
<% end %>


<script>
  function submitForm(event){
    n = $("#user_name").val();
    img = $("#my_camera>img").attr('src');
    $.ajax({
      'type': 'post',
      'url': '/users',
      data: {name: n, avatar: img },
      success: function(data){
        $('.parent3').hide();
        $('.parent4').removeClass('hidden');
        event.preventDefault();
        return false;
      },
      error: function(error){

      }
    })
  }
  function showNext1(element){
    if($("#user_name").val() != "" ){
      $(element).closest('.parent').hide();
      $('.parent2').removeClass('hidden');
    }else{
      $("#user_name").css('border', 'solid 1px red');
    }
  }
  function showNext2(element){
    if($('.radio').is(':checked')){
      $(element).closest('.parent2').hide();
    $('.parent3').removeClass('hidden');
      Webcam.set({
      width: 320,
      height: 240,
      image_format: 'jpeg',
      jpeg_quality: 90
    });
    Webcam.attach( '#my_camera' );
    }
    else{
      $('.radio').css('border','solid 1px red')
    }
    
  }
function take_snapshot(){
    Webcam.snap(function(data_uri) {
        id = $('[id*="_image"]');

        if (id.length) {
            id.val(data_uri);
        }

        document.getElementById('my_camera').innerHTML = '<img src="' + data_uri + '"/>';
    });
}

</script>